<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="yubugtracker">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/yubugtracker</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">ctrls.123</property>
        <property name="hibernate.default_schema">yubugtracker</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
        <property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.idle_test_period">3000</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.autoReconnect">true</property>
		<property name="hibernate.autoReconnectForPools">true</property>
		<property name="hibernate.is-connection-validation-required">true</property>

				<!--Ehcahce configuration-->
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.SingletonEhCacheRegionFactory</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		<property name="hibernate.generate_statistics">true</property>


		<mapping class="com.micromax.bugtracker.AddFavouraite"/>
		<mapping class="com.micromax.bugtracker.AttachementFile"/>
		<mapping class="com.micromax.bugtracker.AttachementFileId"/>
		<mapping class="com.micromax.bugtracker.Category"/>
		<mapping class="com.micromax.bugtracker.Fallow"/>
		<mapping class="com.micromax.bugtracker.Issue"/>
		<mapping class="com.micromax.bugtracker.ReportFlag"/>
		<mapping class="com.micromax.bugtracker.UserComment"/>
		<mapping class="com.micromax.bugtracker.ProdVersion"/>
		<mapping class="com.micromax.bugtracker.User"/>
		<mapping class="com.micromax.bugtracker.PrivateMessages"/>
		<mapping class="com.micromax.bugtracker.MessageReadbleStatus"/>
    </session-factory>
</hibernate-configuration>
